*{
	font-family: 'Open Sans',sans-serif;
	color: #444e5b;
}
#website{
	width:100%;
	height:100vh;
}
#website:-webkit-full-screen, #website:-ms-full-screen, #website:-moz-full-screen, #website:full-screen{
	width:100%;
	height:100vh;
	border:10px solid red;
	color:red !important;
}

.company{
	color:#FFAA00;
}

.container-fluid{
	padding:0px;
	background-color:#eee;
}

.jumbotron{
	margin:0px;
	border-radius: 0px;
	min-height: 100vh;
}

#loginBox div{
	padding:5px;
}

li{
	padding:5px;
	font-size:21px;
	font-weight:200;
}
form{
	padding-top: 20px;
}

hr{
	border:1px solid #ccc;
	
}

.btn{
	border:1px solid #aaa;
}

#questionBox{
	min-height: 300px;
	border:0px solid #ccc;
	border-right-width: 1px;
}

#questionNoBox .btn{
	width:40px;
}

#questionNoBox .col-xs-2{
	padding-top: 10px;
}

#options > div{
	padding: 5px;
	padding-left: 10px;
}

/*--- Animation --- */

.logo{
	animation: 1s bounceIn;
}


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}